body {
    background-color: #f8f8e8;
}

header {
    padding: 3em 0;
    background-image: url("https://unetway.com/uploads/blog/af/83/68/af8368eeda525e85bef423cc82279598.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

header a {
    font-family: "Times New Roman", serif;
    font-size: 2em;
    color: white;
    -webkit-text-stroke: 0.5px black;
}

header h1 {
    margin: 1px auto;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
}

section {
    max-width: 23em;
    margin: 2em auto;
    font-size: 1.2em;
}

footer {
    margin: 50px 0;
    padding: 20px 0;
    text-align: center;
    background-color: #548aa7;
}

footer p {
    color: white;
    font-size: 1.4em;
    margin: 10px auto;
}

footer li {
    display: inline-block;
    margin: auto 5px;
    font-size: 1.3em;
}

table {
    width: 80%;
    margin: auto;
}

.yes-or-not {
    text-align: center;
}

thead {
    background-image: url("https://img4.goodfon.ru/wallpaper/nbig/b/5e/napitki-kokteil-fon.jpg");
    color: white;
    text-shadow: 1px 1px 1px black;
}

table, th, td {
    border: 1px solid black;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #c2c2c2;
}
