body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(221,221,233,1) 25%, rgba(221,221,233,1) 75%, rgba(0,0,0,1) 100%);
}

.about-me {
    display: flex;
    flex-direction: column;
    /*margin: auto;*/
    width: 50%;
    text-align: center;
}

.about-me div {
    font-family: Consolas, sans-serif;
    font-size: 20px;
}

.me {
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin: 3% auto;
}

div div img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10% auto;
}

.info {
    display: flex;
    width: 40%;
    justify-content: space-around;
}


@media (max-width: 679px) {
    body {
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(221,221,233,1) 5%, rgba(221,221,233,1) 95%, rgba(0,0,0,1) 100%);
    }

    .me {
        flex-direction: column;
        width: 60%;
        align-items: center;
    }

    .about-me {
        width: 80%;
    }

    .info {
        flex-direction: column;
        justify-content: space-between;
    }
}